.player_layout {
  display: flex;
  flex-direction: column;
  justify-content: felx-start;
  box-sizing: border-box;
  border: 1px solid skyblue;
  height: 100%;
  flex: 1;
  padding: 1.5rem;
  position: relative;
}

.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: .7rem 0;
  flex: 0;
}