.score_board {
  border-top: 1px solid skyblue;
  flex: 1;
  padding: 1rem .6rem;
  margin-top: 1rem;
  text-align: center;
}

.score_board > p {
  color: dodgerblue;
  font-weight: bold;
  margin-bottom: .4rem;
}

.bingo_list {
  display: flex;
  height: 90%;
}
.row_list,
.col_list,
.cross_list {
  flex: 1;
  display: flex;
  flex-direction: column;
}